<!DOCTYPE html>
<html lang="ja" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Introduction Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
    </div>

    <div id="app3">
        <span v-if="seen">Now your see me.</span>
    </div>

    <div id="app4">
        <ol>
            <li v-for="item in items">
                {{ item.text }}
            </li>
        </ol>
    </div>

    <div id="app5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app6">
        <p>{{ message }}</p>
        <input type="text" v-model="message"/>
    </div>

    <div id="app7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "Hello Vue!!"
            }
        })

        var app2 = new Vue({
            el: '#app2',
            data: {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: '#app3',
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app4',
            data: {
                items:[
                    {text: 'JavaScript'},
                    {text: 'Scala'},
                    {text: 'Swift'}
                ]
            }
        })

        var app5 = new Vue({
            el: '#app5',
            data: {
                message: "Hello Vue.js!!"
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: '#app6',
            data: {
                message: "Hello"
            }
        })

        Vue.component('todo-item',{
            props: ['todo'],
            template: `<li>{{ todo.text }}</li>`,
        })

        var app7 = new Vue({
            el: '#app7',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                ]
            }
        })
    </script>
</body>
</html>