<!DOCTYPE html>
<html lang="ja">
    <meta charset="UTF-8">
    <title>chapter1</title>
    <link href="main.css" rel="stylesheet">
    <body>
        <div id="app">
            <!-- テキストバインディング -->
             <p>{{message}}</p>

             <!-- 繰り返し -->
             <ol>
                 <li v-for="item in items">{{item}}</li>
             </ol>

             <!-- イベント -->
             <button v-on:click="handleClick">Click</button>

             <!-- データと入力フォームのバインド -->
             <p><input v-model.number="message"/></p>

             <!-- 条件分岐 -->
             <p v-if="show">Hello Vue.js!!</p>

             <!-- transition -->
             <button v-on:click="show=!show">切り替え</button>
             <transition>
                <p v-if="show">Hello Vue.js!!!</p>
             </transition>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>